# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# macOS system file
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (if you create one)
venv/
.env/

# PyTorch model weights
*.pt
*.pth

# YOLOv8 training outputs
runs/

# Archives
*.zip

# Generated data files
*.csv
*.npz
*.npy

# Python packaging artifacts
*.egg-info/
dist/
build/

# Spyder project metadata
.spyproject/
